.tariffs {
  margin-bottom: 76px;

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-basis: calc((100% - 20px) / 2);
    align-items: stretch;
  }

  &__title {
    border-radius: var(--border-radius);
    padding: 26px 5px;
    // width: 589px;
    // height: 100px;
    background-color: var(--brown);
    text-align: center;
    color: var(--white);
  }

  &__list {
    padding: 56px 20px 44px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: var(--caramel);
    height: 100%;
    justify-content: center;
  }

  &__item {
    list-style-type: disc;
    max-width: 416px;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    margin-left: 98px;
    align-content: center;
  }

  &__info {
    display: flex;
  }

  &__size {
    padding: 19px 5px;
    border-radius: var(--border-radius);
    max-width: 209px;
    width: 100%;
    background-color: var(--brown);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    width: 100%;
  }

  @media screen and (width <=1240px) {
    &__item {
      margin-left: 40px;
    }
  }

  @media screen and (width <=1024px) {
    &__inner {
      flex-direction: column;
      gap: 40px;
    }

    &__info {
      flex-direction: column;
      align-items: flex-end;
    }

    &__list {
      padding: 40px clamp(0.313rem, -0.254rem + 2.83vw, 1.25rem);
    }

    &__item {
      margin-left: clamp(1.563rem, 0.996rem + 2.83vw, 2.5rem);
      max-width: none;
      width: fit-content;
      font-size: clamp(1rem, 0.849rem + 0.75vw, 1.25rem);
    }

    &__title {
      font-size: clamp(1.375rem, 0.847rem + 2.64vw, 2.25rem);
    }
  }

  @media screen and (width <=425px) {}
}