.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
  // outline: 1px solid brown;
  max-width: var(--container-width);
  width: 100%;


  @media screen and (width <=1240px) {
    max-width: 1000px;
  }

  @media screen and (width <=1024px) {
    max-width: 768px;
  }

  @media screen and (width <=768px) {
    max-width: 425px;
  }

  @media screen and (width <=425px) {
    max-width: 320px;
  }

}


/* Контейнеры */
.container-full {
  padding: 0 var(--container-padding);
  max-width: 100%;
}

.container-left-50 {
  padding: 0 var(--container-padding);
  max-width: 50%;

  @include mobile {
    max-width: 100%;
  }
}

.container-right-50 {
  padding: 0 var(--container-padding);
  max-width: 50%;
  margin-left: auto;

  @include mobile {
    max-width: 100%;
  }
}

.container-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));

  @include tablet {
    padding-left: var(--container-padding);
  }
}

.container-left {
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));

  @include tablet {
    padding-right: var(--container-padding);
  }
}

.container-half-left {
  padding-right: calc((100% - var(--container-width)) / 2 + (var(--container-width) / 2));
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));

  @include tablet {
    padding-left: var(--container-padding);
  }

  @include mobile {
    padding: 0 var(--container-padding);
  }
}

.container-half-right {
  padding-left: calc((100% - var(--container-width)) / 2 + (var(--container-width) / 2));
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));

  @include tablet {
    padding-right: var(--container-padding);
  }

  @include mobile {
    padding: 0 var(--container-padding);
  }
}