.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
}

.icon--logo {
	// width: 345px;
	width: clamp(12.5rem, 9.205rem + 16.48vw, 21.563rem);
	// min-width: 220px;
	height: 44px;
}

.icon--logo-header {
	fill: var(--white);
}

.icon--logo-footer {
	fill: var(--black);
}

// .icon--button-prev {
// 	width: 21px;
// 	height: 21px;
// 	fill: var(--black);

// }


// .icon--user {
// 	stroke: rgb(26, 134, 235);
// 	transition: all 0.2s ease-in;

// 	&:hover {
// 		stroke: rgb(17, 193, 90);
// 	}
// }