.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px clamp(2.25rem, 0.265rem + 9.92vw, 3.875rem);
  border-radius: var(--border-radius);

  font-weight: 700;
  font-size: clamp(1rem, 0.695rem + 1.53vw, 1.25rem);
  text-transform: uppercase;
  @include transition ($transition-property: opacity);

  &--black {
    background: var(--black);
    color: var(--white);
  }

  &--white {
    background-color: var(--white);
    color: var(--black);
  }



  @media (any-hover: hover) {
    &:hover {
      opacity: .7;
    }
  }

  // {
  // .button:hover, .button:focus
  //     background-color: #404040;
  // }

  // {
  // .button:active
  //     background-color: #222222;
  // }
}