@import "./utils/modern-normalize.min";
@import "./../fonts/fonts";
@import "./utils/vars";
@import "./utils/global";
@import "./utils/icons";
@import "./utils/mixins";
@import "./utils/container";
@import "./utils/sticky-footer";

// @import "./blocks/*.scss";
@import "./components/**/*.scss";

body {
  font-family: Circe, sans-serif;
  font-weight: 700;
}

.text {
  font-family: Lato;
  font-weight: 900;
}